.recipe{
    display: flex;
    width: 100%;
    height: 700px;
    background-color: #fbf4eb;
}
.recipe-img{
    width: 80%;
    height: 500px;
    margin-top: 30px;
}
.recipe-title{
    font-family: "Rethink Sans", sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}
.recipe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.recipe-ingridients{
    font-family: "Rethink Sans", sans-serif;
    font-size: 20px;
}