<main>
  <main>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <h1>Profile</h1>

    <mat-form-field appearance="fill">
      <mat-label>Név</mat-label>
      <input matInput [(ngModel)]="user.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jelszó</mat-label>
      <input matInput [(ngModel)]="user.password" name="password" type="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="onSave()">Save</button>
    <button mat-raised-button color="primary" class="delete" (click)="onDelete()" type="submit">Delete</button>
  </form>
</main>
</main>